* {
  margin: 0;
  padding: 0;
}
.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e1e3eb;
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px; 
  background-color: white;
}
.imgs {
    padding-top: 20px;
    justify-content: center;
    display: flex;
  }
.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

input{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    background-color: #fff;
}

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.name{
    padding-left: 70px;
    font-size: 20px;
}
.second-input{
    padding-top: 20px;
}

button{
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: blue;
    color: white;
    font-size: 25px;
    border: none;
}
.UserData{
padding-left: 35%;
color: #fff;
background-color: #fff;
}
.login-button{
    padding-top: 25px;
    
}

.link{
    font-size: 25px;
    font-weight: 400;
}
 a{
     color: blue;
 }
 
 .portrait{
  height: 350px;
  width : 350px;
  padding-top: 90px;
  padding-left: 80px;
  object-fit: contain;
  
 }
 .text1{
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin-top: 15px;
  
 }
 .text4{
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  
 }
 .text2{
  display: inline-block;
  color: black;
  
  
 }
 
 .portrait1{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 100px;
  width: 100px;
 }
 .card{
  width: 98%;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2%;
  border-color: black;
  padding-bottom: 20px;
 }
 .maindiv1{
  width: 98%;
  height : 500px;
  border: 2px, outset;
  border-radius: 1%;
  border-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 
 .myDiv{
  height: 25px;
  background-color: #f5f5f5;
  text-align: center;
  width : 400px;
  display: inline-block;
  align-items: center;
 }
 
 body{
  background-color: #F1F1F1;
 }
 
 .col-2{
  padding-left: 0%;
  margin-left: 0%;
  text-align: left;
  margin-top: 25px;
 }
 .col-4{
  margin-top: 25px;
 }
 h5{
  font-weight: bold;
  padding-bottom: 20px;
 }